.container {
    width: 350px;
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #fafafa;
}

.row {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}



span {
    margin-top: 10px;
    padding: 10px;
    background: #e6f2ff;
    border-radius: 5px;
}
h3 {
    text-align: center;
    color: #333;
}
