.complete{
    text-decoration: line-through;
    color:gray;
    background-color: red;
}
.task-item{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
button{
    margin-left: 10px;
}   